.footer {
  margin-top: 40px;
}

.footer-title {
  background-color: #37475a;
  color: white;
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.footer-items {
  background-color: #232f3e;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}
.footer-items a:hover{
    text-decoration: underline;
}

.footer-items ul {
  list-style: none;
}

.footer-items h3 {
  margin-bottom: 10px;
}

.footer-items a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
}

/* ===== FOOTER BOTTOM BAR ===== */
.footer-bottom {
  background-color: #232f3e;
  border-top: 1px solid #3a4553;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Amazon logo */
.footer-logo {
    border-left: 0;
  width: 90px;
}

/* selector container */
.footer-selectors {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

/* individual boxes */
.footer-box {
  border: 1px solid #848688;
  color: #ccc;
  padding: 6px 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.footer-box img {
  width: 18px;
  height: 12px;
  object-fit: cover;
}

.footer-box:hover {
  border-color: white;
  color: white;
}

.arrow {
  font-size: 10px;
}

/* ===== FOOTER LEGAL SECTION ===== */
.footer-legal {
  background-color: #131a22;
  text-align: center;
  padding: 20px 10px 30px;
  font-size: 12px;
}

/* links row */
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 8px;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* copyright line */
.footer-copy {
  color: #aaa;
}